*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}
button{
  cursor: pointer;
  border: 0;
  background: none;
}
textarea{
  resize:none;
  border: 0;
}
fieldset{
  border: 0;
}
.skip{
  display: none;
}